<div class="jumbotron text-center">
  <div class="container">
    <h1>Alpha Blog</h1>
    <p>
      <a><%= link_to  "SignUp Now", "signup", class: "btn btn-primary btn-lg"%></a>
    </p>
  </div>
</div>
